
.footer_q {
	background-color: #262831;
	width: 100%;
}

.footer {
	width:950px;
	margin: 0 auto;
	height: 2.3rem;
	background-color: #262831;
	position: relative;
}
.footer ul {
	margin-top: 0.4rem;
}

.footer ul h3 {
	color: #fff;
	font-size: 0.2rem;
	font-family: "微软雅黑";
	margin-bottom: 26px;

}

.footer ul li {
	cursor: pointer;
	list-style: none;
	color: #bdbdbf;

}

.Logo_bot {
	padding-left: 0;
	margin-left: -0.3rem;
	margin-right: -1.0rem;
	margin-top: 0.3rem;
}

.Logo_bot img {
	margin-top: 0.3rem;
}

.footer_bottom {
	height: 1.6rem;
	text-align: center;
	position: relative;
	clear: both;
}
.footer_bottom ul {
	position: absolute;
	top: -1.1rem;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	padding: 0;
}

.footer_bottom ul li{
	list-style: none;
	color: #fff;
	display: inline-block;
	margin-right: 0.1rem;
	width: 0.3rem;
	height: 0.2rem;
}
.footer_bottom span {
	display: block;
	color: #fff;
	margin-top:0.5rem;
	font-size: 0.14rem;
}


.footer_bottom {
	text-align: center;
}

.four h3 {
	width: 0.9rem;
}


.footer  ul {
	float: left;
	margin-left: 0.6rem;
}

.footer ul li {
	font-size: 0.14rem;
}
.footer .Logo_bot {
float: left;
}

.footer .list {
	margin-left: 1.3rem;
} 

.bottom_x {
	height: 0.02rem;
	width: 60%;
	background-color: #2f323d;
	margin: 0.2rem auto;
}


