html,
body {
  margin: 0;
  padding: 0;
  font-size: 100px;
  overflow-x: hidden;
}
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}
.lf {
  float: left;
}
.rt {
  float: right;
}
.cl {
  clear: both;
}
/*移动端头部*/
.m_menu {
  position: relative;
  padding-top: .02rem;
}
.m_menu h1 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: bold;
}
.m_menu .m_menu_btn {
  position: absolute;
  right: 30px;
  top: 9px;
  cursor: pointer;
}
.m_menu .m_menu_btn img {
  width: 24px;
  height: 20px;
}
.m_menu .m_menu_btn:hover .m_menu_list {
  display: block;
}
/*********图层蒙版**********/
#mengban {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(76, 80, 95, 0.5);
  z-index: 400;
}
/*移动端头部end*/
.Logo {
  position: absolute;
  top: 0.33rem;
  left: 0;
  cursor: pointer;
  width: 0.68rem;
  height: 0.68rem;
}
.m_menu_list {
  width: 123px;
  height: 143px;
  paddiing-bottom: 5px;
  position: absolute;
  top: 42px;
  right: 18px;
  box-sizing: border-box;
  z-index: 999;
}
.m_menu_list .m_list_sj {
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #4c505f;
  position: absolute;
  top: 0;
  right: 14px;
}
.m_menu_list ul {
  width: 123px;
  height: 130px;
  background: #4c505f;
  border-radius: 10px;
  font-size: 18px;
  padding: 16px 27px;
  position: absolute;
  top: 12px;
  right: 0;
}
.m_menu_list ul li {
  float: left;
  list-style-type: none;
  padding-bottom: 8px;
}
.m_menu_list ul li span {
  padding-left: 5px;
}
.m_menu_list ul li img {
  width: 18px;
  height: 18px;
}
.nva_q {
  position: absolute;
  z-index: 100;
  top: 28px;
  left: 52%;
  transform: translateX(-50%);
}
.nva_q .Logo {
  width: 60px;
  height: 60px;
}
.nva_q ul.nav_font {
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  margin-top: -25px;
}
ul.nav.navbar-nav li {
  padding-left: 9px;
}
/***********轮播图**********/
.swipe_d {
  width: 100%;
  position: relative;
  margin-top: 0;
}
.carousel-inner {
  width: 100%;
  overflow-x: hidden;
}
.carousel {
  border: none;
  width: 100%;
}
/*********交易表格*********/
.swipe_nav_q {
  width: 100%;
  background-color: #262831;
  line-height: 65px;
}
.img-mobile {
  padding: 0;
  margin: 0;
}
.row {
  color: #fff;
  font-size: 18px;
  font-family: "苹方";
}
@media (max-width: 639px) {
  .row {
    font-size: 12px;
  }
}
@media (min-width: 640px) and (max-width: 991px) {
  .row {
    font-size: 16px;
  }
}
.swipe_nav_q .row {
  margin: 0 auto;
  height: 65px;
  text-align: center;
}
.swipe_nav_q .row div {
  padding: 0;
}
.swipe_menu div p {
  display: none;
  border-top: 1px solid #FFF;
  margin: 0 auto;
  padding: 0;
  width: 50px;
  height: 23px;
  background: #1d1e26;
  margin-top: -23px;
}
.swipe_menu div p b {
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFF;
  position: absolute;
  bottom: 0;
  left: 45%;
}
.swipe_nav_q .row .one:hover {
  cursor: pointer;
  background-color: #1d1e26;
}
.swipe_nav_q .row .one:hover,
.swipe_nav_q .row .two:hover,
.swipe_nav_q .row .three:hover,
.swipe_nav_q .row .four:hover {
  cursor: pointer;
  background-color: #1d1e26;
}
.swipe_nav_q .row .one:hover .one p {
  display: block;
}
.swipe_nav_q .active {
  cursor: pointer;
  background-color: #1d1e26;
}
.swipe_d {
  position: relative;
  /*****交易中心*****/
}
.swipe_d .jyzx_logo {
  float: left;
  width: 29px;
  height: 24px;
  margin-left: -20px;
  background: url("../img/ico_spcbuy.png") left top no-repeat;
}
.swipe_d .jyzx_wz {
  float: right;
  width: 80px;
  font-size: 2px;
  color: #fff;
  margin-right: -11px;
}
.swipe_logo {
  position: absolute;
  top: 172px;
  width: 100%;
}
.swipe_logo h3 {
  display: block;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 28px;
}
.swipe_logo span {
  display: block;
  width: 100%;
  font-size: 18px;
  padding-bottom: 10px;
  color: #c3cccc;
  text-align: center;
}
.swipe_logo p:nth-child(1) {
  width: 100%;
  text-align: center;
}
.swipe_logo p:nth-child(1) img {
  width: 208px;
  height: 147px;
}
.swipe_logo div {
  width: 100%;
}
.swipe_logo div:nth-child(4) a {
  display: block;
  margin: 0 auto;
  width: 201px;
  height: 50px;
  padding: 10px 60px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 20px;
  background: #9e323d;
}
.swipe_logo div:nth-child(4) a img {
  width: 208px;
  height: 47px;
}
.swipe_logo div:nth-child(4) a:hover {
  background-color: #f1280f;
}
/**********下载**********/
.download {
  width: 100%;
  height: 760px;
  background: url('../img/背景.png') no-repeat;
  background-size: cover;
}
.download_c {
  margin: auto;
  width: 1080px;
  position: relative;
}
.download_c .phone {
  padding-top: 35px;
  margin-left: 8%;
  height: 700px;
}
.download_c .download_r {
  position: absolute;
  top: 177px;
  right: 10%;
  float: right;
}
.download_r .app {
  width: 140px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 12.5px;
  color: #fff;
  font-family: "苹方";
  font-size: 4px;
  line-height: 21px;
  text-align: center;
  font-weight: 600;
}
.download_r .app:hover {
  cursor: pointer;
}
.download_r .describe {
  display: block;
  color: #fff;
  font-size: 34px;
  margin-top: 34px;
}
.download_r .QR_code {
  margin-top: 49px;
  margin-left: 137px;
  width: 150px;
}
.download_r .ios {
  display: inline-block;
  margin-top: 48px;
  margin-right: 20px;
}
.download_r .Android {
  display: inline-block;
  margin-top: 48px;
}
.download_r .ios,
.Android:hover {
  cursor: pointer;
}
.carousel-inner {
  width: 100%;
}
.carousel-inner item:after {
  content: '';
  display: table;
  clear: both;
}
.carousel-inner .item .img-pc {
  height: 690px;
}
/* 交易 */
.Transaction {
  overflow: hidden;
  width: 100%;
  height: 730px;
  background: url('../img/Transaction-bg.png') no-repeat;
  position: relative;
}
.Transaction .fuwu {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Transaction .swipe_logo_02 {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 422px;
  height: 211px;
  transform: translateX(-50%);
}
.Transaction h3 {
  position: absolute;
  margin-left: 50%;
  top: 113px;
  transform: translateX(-50%);
  font-size: 28px;
  font-family: "微软雅黑";
  color: #555555;
}
.Transaction span {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  color: #888888;
  font-size: 17px;
  font-family: "微软雅黑";
}
.col-md-3 {
  text-align: center;
}
/* 官方公告行业资讯 */
.Information {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 75px;
}
.Information .Content {
  margin: 0 auto;
  width: 950px;
  margin-bottom: 20px;
}
.Information .Content .Information_left {
  width: 48%;
  margin-right: 15px;
  float: left;
}
.Information .Content .Information_right {
  width: 50%;
  float: right;
}
.Information .Content .Information_left .Information_left_top {
  border-bottom: 1px solid #000;
}
.Information .Content .Information_left .Information_left_top h3 {
  font-size: 24px;
  color: #000;
  font-family: "微软雅黑";
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 30px;
  margin-top: 80px;
}
.Information .Content .Information_left .Information_left_top span {
  font-size: 16px;
  font-family: "微软雅黑";
  display: inline-block;
  color: #999999;
  float: right;
  margin-right: 3px;
  margin-top: 87px;
}
.Information .Content .Information_left .Information_left_bottom {
  position: relative;
  margin-top: 38px;
}
.Information .Content .Information_left .Information_left_bottom .Calendar {
  position: absolute;
  width: 55px;
  height: 68px;
  background: url('../img/Calendar.png') no-repeat;
  display: inline-block;
  text-align: center;
  top: 2px;
  left: 0;
}
.Information .Content .Information_left .Information_left_bottom .Calendar h3,
h4 {
  margin: 0;
  padding: 0;
}
.Information .Content .Information_left .Information_left_bottom .Calendar h4 {
  font-size: 14px;
  font-family: "微软雅黑";
  color: #ea9291;
  font-weight: 400;
  margin-top: 10px;
}
.Information .Content .Information_left .Information_left_bottom .Calendar h3 {
  font-size: 18px;
  font-family: "微软雅黑";
  color: #ea9291;
  font-weight: 600;
  margin-top: 3px;
}
.Information .Content .Information_left .Information_left_bottom ul {
  margin-left: 63px;
  list-style: none;
}
.Information .Content .Information_left .Information_left_bottom ul .Announcement {
  font-size: 18px;
  font-family: "微软雅黑";
  margin-top: 25px;
}
.Information .Content .Information_left .Information_left_bottom ul .Announcement span {
  font-size: 12px;
  color: #999caa;
}
.Information .Content .Information_left .Information_left_bottom ul .Announcement_2 .Calendar {
  top: 31%;
}
.Information .Content .Information_left .Information_left_bottom ul .Announcement_3 .Calendar {
  top: 49%;
}
.Information .Content .Information_left .Information_left_bottom ul .Announcement_4 .Calendar {
  top: 69%;
}
.Information .Content .Information_left .Information_left_bottom ul .Announcement_5 .Calendar {
  top: 87%;
}
.Information .Content .Information_left .Information_left_bottom ul:hover {
  cursor: pointer;
}
.Information .Content .Information_left .Information_left_top span:hover {
  cursor: pointer;
  color: #000;
}
/* 左边 */
.Information_right_left .Calendar_left {
  position: absolute;
  width: 55px;
  height: 68px;
  background: url('../img/Calendar.png') no-repeat;
  display: inline-block;
  text-align: center;
  top: 2px;
  left: 0;
}
.Information .Content .Information_left .Information_left_bottom .Calendar_left h3,
h4 {
  margin: 0;
  padding: 0;
}
.Information .Content .Information_left .Information_left_bottom .Calendar_left h4 {
  font-size: 14px;
  font-family: "微软雅黑";
  color: #3dc18e;
  font-weight: 400;
  margin-top: 10px;
}
.Information .Content .Information_left .Information_left_bottom .Calendar_left h3 {
  font-size: 18px;
  font-family: "微软雅黑";
  color: #3dc18e;
  font-weight: 600;
  margin-top: 3px;
}
.Information .Content .Information_left .Information_left_bottom ul .Announcement_1 .Calendar_left h3 {
  color: #000;
}
.Information .Content .Information_left .Information_left_bottom ul .Announcement_2 .Calendar_left {
  top: 31%;
}
.Information .Content .Information_left .Information_left_bottom ul .Announcement_3 .Calendar_left {
  top: 49%;
}
.Information .Content .Information_left .Information_left_bottom ul .Announcement_4 .Calendar_left {
  top: 69%;
}
.Information .Content .Information_left .Information_left_bottom ul .Announcement_5 .Calendar_left {
  top: 87%;
}
/* 新手帮助 */
.Novice_help {
  width: 100%;
  height: 688px;
  background-color: #262831;
  position: relative;
}
.Novice_help .Novice_help_left {
  width: 40.6%;
  height: 688px;
  background: url('../img/pexels-photo-280193.png') no-repeat;
  position: relative;
  float: left;
}
.Novice_help .Novice_help_left .Novice {
  position: absolute;
  top: 93px;
  right: 104px;
}
.Novice_help .Novice_help_left .Novice h3 {
  color: #fff;
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  font-family: "微软雅黑";
}
.Novice_help .Novice_help_left .Novice span {
  color: #fff;
  font-size: 18px;
  font-family: "微软雅黑";
  margin-top: 16px;
  display: block;
}
.Novice_help .Novice_help_left .Doubt {
  position: absolute;
  top: 38px;
  right: 358px;
}
@media (max-width: 1060px) {
  .Novice_help .Novice_help_left .Doubt {
    display: none;
  }
}
.Novice_help .Novice_help_left .mintu {
  position: absolute;
  bottom: 68px;
  right: 57px;
  width: 208px;
  height: 208px;
  border: 1px solid #3f4251;
  text-align: center;
  line-height: 186px;
}
.Novice_help .Novice_help_right {
  float: left;
  width: 59.4%;
  position: relative;
  padding-top: 84px;
}
.Novice_help .Novice_help_right .triangle {
  position: absolute;
  top: 140px;
  left: -2px;
  z-index: 333;
}
.Novice_help .Novice_help_right .Withdrawals {
  width: 90%;
  height: 120px;
  background: url('../img/cztx_01.png') no-repeat;
  margin-left: 35px;
  margin-bottom: 16px;
  overflow: hidden;
}
.Novice_help .Novice_help_right .Withdrawals:nth-child(2):hover {
  background: url('../img/cztx_02.png') no-repeat;
}
.Novice_help .Novice_help_right .Withdrawals:nth-child(3) {
  background: url('../img/smrz_01.png') no-repeat;
}
.Novice_help .Novice_help_right .Withdrawals:nth-child(3):hover {
  background: url('../img/smrz_02.png') no-repeat;
}
.Novice_help .Novice_help_right .Withdrawals:nth-child(4) {
  background: url('../img/jywt_01.png') no-repeat;
}
.Novice_help .Novice_help_right .Withdrawals:nth-child(4):hover {
  background: url('../img/jywt_02.png') no-repeat;
}
.Novice_help .Novice_help_right .Withdrawals:nth-child(5) {
  background: url('../img/tjjl_01.png') no-repeat;
}
.Novice_help .Novice_help_right .Withdrawals:nth-child(5):hover {
  background: url('../img/tjjl_02.png') no-repeat;
}
.Novice_help .Novice_help_right h3 {
  font-size: 18px;
  font-family: "苹方";
  color: #fff;
  margin-top: 28px;
  margin-left: 31px;
}
.Novice_help .Novice_help_right h3 span {
  border-bottom: 2px solid #fff;
}
.Novice_help .Novice_help_right .top_ups ul {
  list-style: none;
  margin-left: 30px;
  margin-top: 30px;
}
.Novice_help .Novice_help_right .top_ups ul li {
  float: left;
  font-size: 14px;
  color: #fff;
  margin-right: 15px;
}
.Novice_help .Novice_help_right .Withdrawals_1 {
  margin-left: 35px;
  margin-top: 50px;
}
.Novice_help .Novice_help_right .Withdrawals_2 {
  margin-left: 35px;
  margin-top: -10px;
}
.Novice_help .Novice_help_right .Withdrawals_3 {
  margin-left: 35px;
  margin-top: -10px;
}
.but {
  width: 675px;
  height: 1px;
  background-color: #3f4251;
  position: absolute;
  left: 35px;
}
.Novice_help .Novice_help_right .Withdrawals_1 .but {
  bottom: 220px;
}
.Novice_help .Novice_help_right .Withdrawals_2 .but {
  bottom: 105px;
}
.Novice_help .Novice_help_right .Withdrawals_3 .but {
  bottom: -10px;
}
.Novice_help .Novice_help_right .top_ups ul li:hover {
  cursor: pointer;
  color: #1736d2;
}
/* 合作伙伴 */
.paterner {
  width: 100%;
  background-color: #000;
  height: 300px;
  overflow: hidden;
}
.paterner .paterner_title {
  width: 950px;
  margin: 0 auto;
  text-align: center;
}
.paterner .paterner_title h3 {
  width: 100%;
  color: #fff;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 30px;
  background: url("../img/line.png") no-repeat bottom left;
}
.paterner .tr {
  width: 1220px;
  height: 180px;
  font-size: 14px;
  margin: 0 auto;
}
.paterner .together {
  list-style: none;
  width: 1220px;
}
.paterner .together li {
  float: left;
  padding: 10px;
}
.paterner #myCarousel {
  height: 180px;
  width: 1220px;
  margin: 0 auto;
}
.paterner #myCarousel a {
  text-decoration: none;
  opacity: .6;
}
.paterner #myCarousel a:hover {
  opacity: 1;
}
.paterner #myCarousel .glyphicon {
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: -45px;
  right: 18px;
}
.paterner #myCarousel .glyphicon-triangle-left {
  right: 53px;
}
@media (max-width: 1230px) {
  .paterner .tr {
    width: 950px;
  }
  .paterner #myCarousel {
    width: 950px;
  }
  .paterner .together {
    width: 950px;
  }
  .paterner li {
    width: 118px;
    height: 72px;
  }
  .paterner img {
    width: 98px;
    height: 51.97px;
  }
}
#jy_table_pc {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 50px;
  text-align: left;
  background: #fff;
  box-sizing: border-box;
}
#jy_table_pc ul {
  list-style-type: none;
}
#jy_table_pc ul li {
  float: left;
}
#jy_table_pc .jyt_con {
  width: 950px;
  margin: 0 auto;
  clear: both;
}
#jy_table_pc .jyt_con .jyt_con::after {
  content: "";
  clear: both;
  display: block;
}
#jy_table_pc .jyt_con .jyt_menu {
  height: 50px;
  width: 950px;
  margin: 0 auto;
  color: #626262;
  font-size: 14px;
  font-weight: bold;
  background: #f9f9f9;
}
#jy_table_pc .jyt_con .jyt_menu .qqsc {
  display: inline-block;
  color: #fff;
  background: #D14957;
  width: 115px;
  height: 28px;
  border-radius: 13px;
  vertical-align: middle;
  padding: 6px 20px;
}
#jy_table_pc .jyt_con .jyt_menu .qqsc i {
  float: left;
  width: 16px;
  height: 12px;
  margin-top: 2px;
  background: url("../img/zhuzhuangtu.png") no-repeat;
}
#jy_table_pc .jyt_con .jyt_menu .qqsc b {
  float: right;
  width: 63px;
  height: 14px;
  margin-right: -9px;
  margin-top: -18px;
}
#jy_table_pc .jyt_con li ul {
  width: 950px;
  margin: 0 auto;
  font-size: 14px;
}
#jy_table_pc .jyt_con li ul li {
  width: 14.2857%;
  height: 28px;
  line-height: 52px;
}
#jy_table_pc .jyt_con li ul li:nth-child(1) {
  padding-left: 8px;
}
#jy_table_pc .jyt_con > li {
  width: 100%;
  height: 42px;
  text-align: left;
  border-bottom: 1px solid #F1F1F1;
}
#jy_table_pc .jyt_con .jyt_detail ul li {
  padding-left: 5px;
}
#jy_table_pc .jyt_con .jyt_detail ul li:nth-child(1) {
  padding-left: 0;
}
#jy_table_pc .jyt_con .jyt_detail .coin {
  width: 130px;
}
#jy_table_pc .jyt_con .jyt_detail .coin i {
  width: 28px;
  height: 28px;
  display: inline-block;
  margin: -5px 0px 0 5px;
  vertical-align: middle;
}
#jy_table_pc .jyt_con .jyt_detail .coin i.coin-btc {
  background: url("../img/coin-btc.png");
}
#jy_table_pc .jyt_con .jyt_detail span.gp_up {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-left: 10px;
  background: url("../img/gp_up.png") no-repeat;
}
#jy_table_pc .jyt_con .glyphicon-arrow-down {
  color: #3FC18F;
  position: relative;
  animation: mymove 1.5s infinite;
  -webkit-animation: mymove 1.5s infinite;
  /*Safari and Chrome*/
  -moz-animation: mymove 1.5s infinite;
  /* Firefox */
  -o-animation: mymove 1.5s infinite;
  /* Opera */
}
@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 5px;
  }
}
@-o-keyframes mymove {
  /* Opera */
  from {
    top: 0px;
  }
  to {
    top: 5px;
  }
}
@-moz-keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 5px;
  }
}
@-webkit-keyframes mymove {
  /*Safari and Chrome*/
  from {
    top: 0px;
  }
  to {
    top: 5px;
  }
}
#jy_table_pc .jyt_con .glyphicon-arrow-up {
  color: #DF211E;
  position: relative;
  animation: mymove1 1.5s infinite;
  -o-animation: mymove1 1.5s infinite;
  -moz-animation: mymove1 1.5s infinite;
  -webkit-animation: mymove1 1.5s infinite;
  /*Safari and Chrome*/
}
@keyframes mymove1 {
  from {
    top: 0px;
  }
  to {
    top: -5px;
  }
}
@-o-keyframes mymove1 {
  from {
    top: 0px;
  }
  to {
    top: -5px;
  }
}
@-moz-keyframes mymove1 {
  from {
    top: 0px;
  }
  to {
    top: -5px;
  }
}
@-webkit-keyframes mymove1 {
  /*Safari and Chrome*/
  from {
    top: 0px;
  }
  to {
    top: -5px;
  }
}
#jy_table_pc:after {
  content: "";
  display: block;
  clear: both;
}
.green_bold {
  color: #3FC18F;
}
.red_bold {
  color: #DF211E;
}
.font_red {
  color: #E43B3E;
}
.font_green {
  color: #4FC492;
}
/*******************手机端图表*********************/
#jy_table_m {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#jy_table_m .t_title {
  width: 100%;
  height: .95rem;
  padding-top: .3rem;
  background: #262831;
}
#jy_table_m .t_title li {
  float: left;
  width: 25%;
  list-style-type: none;
}
#jy_table_m .t_title li h3 {
  font-size: .27rem;
  color: #E3E4E4;
  margin: 0 auto;
  text-align: center;
  padding-bottom: .25rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
#jy_table_m .t_title li:hover {
  border-bottom: 2px solid #9E323D;
}
