.t_con{
	width:100%;
}
.t_con>div ul:nth-child(1){
	width: 100%;
	height:1.28rem;
}
.t_con img{
	width:.57rem;
	height:57rem;
	margin-left: .2rem;
}
.t_con>div ul li:nth-child(2){
	width:3.34rem;
	padding-left: .16rem;
}
.t_con>div ul li:nth-child(3){
	width:1.58rem;
	padding-left: .25rem;
}